@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
}

article {
  padding: 0 1em;
}

a {
  text-decoration: none;
  color: #509e98;
  font-weight: bold;
}

section {
  margin: 1em;
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: fixed;
  background-image: url('img/bg.jpg');
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
}

a .far,
a .fab {
  color: white;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

h3,
.title {
  font-weight: bold;
  text-transform: uppercase;
}

article {
  padding: 0 1em;
}

.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
  color: #509e98;
}

.course .description {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .description p {
  padding-left: 1em;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33.3%;
}

ul {
  margin: 0;
}

ul.list-dashed,
.work-description ul {
  list-style-type: none;
  padding: 0;
}

.hobby ul,
ul.list-dashed>li {
  padding-left: 1.5em;
}

.hobby ul>li:before,
ul.list-dashed>li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}

.school span,
.work span {
  color: #889499;
  text-decoration: underline;
  text-transform: capitalize;
}

.work-description {
  margin-bottom: 1em;
}

.work-description ul li:before {
  content: "✔";
  padding-right: 0.5em;
  color: #509e98;
}

a .far,
a .fab {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

.hobby ul {
  list-style: none;
}

.statement {
  font-size: 0.8em;
  color: #889499;
}

footer {
  padding: 1em 1.5em;
  background: #A7B8BF;
  color: white;
  text-align: justify;
}

footer a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title,
  .course .description {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}
